@model List<ResultProductDto>
<div class="food-menu-style-two-area default-padding bg-cover" style="background-image: url(~/source/assets/img/shape/3.jpg);">
	<div class="container">
		<!-- Single Item -->
		<div class="food-menu-style-two">
			<div class="row align-center">
				<div class="col-lg-5">
					<div class="food-menu-style-two-thumb">
						<img class="wow fadeInDown" src="@ViewBag.FoodImage" alt="Image Not Found">
					</div>
				</div>
				<div class="col-lg-7">
					<div class="food-menu-style-two-content wow fadeInUp">
						<h4 class="sub-heading">Fast Food Ürünleri</h4>
						<ul class="meal-type">
							<li>Fiyat</li>
						</ul>
						<ul class="meal-items">
							@foreach (var item in Model)
							{
								<li>
									<div class="thumbnail">
										<img src="@item.ImageUrl" alt="Image Not Found">
									</div>
									<div class="content">
										<div class="top">
											<div class="title">
												<h4><a href="shop-single.html">@item.Name</a></h4>
											</div>
											<div class="price">
												<span>@item.Price ₺</span>
											</div>
										</div>
										<div class="bottom">
											<div class="left">
												<p>
													@item.Description
												</p>
											</div>
										</div>
									</div>
								</li>
							}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End Single Item -->
		<!-- Single Item -->
		<div class="food-menu-style-two">
			<div class="row align-center">
				<div class="col-lg-5">
					<div class="food-menu-style-two-thumb">
						<img class="wow fadeInUp" src="@ViewBag.DessertImage" alt="Image Not Found">
					</div>
				</div>
				<div class="col-lg-7">
					<div class="food-menu-style-two-content wow fadeInDown">
						<h4 class="sub-heading">Tatlılar</h4>
						<ul class="meal-type">
							<li>Fiyat</li>
						</ul>
						<ul class="meal-items">
							@foreach (var item in (List<ResultProductDto>)ViewBag.Desserts)
							{
								<li>
									<div class="thumbnail">
										<img src="@item.ImageUrl" alt="Image Not Found">
									</div>
									<div class="content">
										<div class="top">
											<div class="title">
												<h4><a href="shop-single.html">@item.Name</a></h4>
											</div>
											<div class="price">
												<span>@item.Price ₺</span>
											</div>
										</div>
										<div class="bottom">
											<div class="left">
												<p>
													@item.Description
												</p>
											</div>
										</div>
									</div>
								</li>
							}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End Single Item -->
	</div>
</div>